#__next > div > div > div.jsx-2687105798.header-wrapper > div{visibility:hidden;}

body
{
    background-image:url("https://c4.wallpaperflare.com/wallpaper/713/287/823/beyond-all-reason-war-robots-real-time-strategy-strategy-games-hd-wallpaper-preview.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


.sidebar-list-item.jsx-1424615656 > a.is-active.jsx-1424615656 {
    background-color: rgb(2 42 76)!important;
}

.cellLink-link.jsx-3147125735:hover {
    color: rgb(59 142 238);
}


a.jsx-338354777.cellLink-link:hover {
    color: rgb(2 36 65);
}

.custom-dropdown-control.css-4xy4ym-control {
    background-color: rgb(2 42 76);
}

a.jsx-669136943.jsx-1424615656.is-active {
    background-color: rgb(2 42 76)!important;
}


button.jsx-1735702853.jsx-2070939811.advanced-tags-btn {
    background-color: rgb(2 42 76);
}

button.jsx-1735702853.jsx-3320471011.advanced-tags-btn {
    background-color: rgb(2 42 76);
}

.jsx-4008542521.jsx-3111695202.input-background {
    background-color: rgb(2 42 76);
    border-radius: 20px 0px;
}

.jsx-4008542521.jsx-1235514216.input-background {
    background: rgb(2 42 76);
    border-radius: 20px 0px;
}

a.jsx-669136943.jsx-551243074.is-active {
    background-color: rgb(2 42 76)!important;
}

button.jsx-4129604865.jsx-3871525032.dropdown-button.dropdown-button {
    background-color: rgb(2 36 65);
}


button.jsx-4129604865.jsx-3871525032.dropdown-button.dropdown-button:hover {
    background-color: rgb(59 142 238);
}

.jsx-3193269665.jsx-862053794.premiere-dates-wrapper {
    background-color: rgb(2 42 76);
}

.list-button.jsx-3871525032:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(2 36 65)!important;
}

#__next > div > div > div.jsx-137478561.jsx-3673786418.content-wrapper > div > div > div.jsx-2256212236.jsx-172152797.sidebar-wrapper > section > div > div:nth-child(4) > div.jsx-1735702853.jsx-3320471011.sidebar-filters > div > div > div > div > div.css-1wy0on6 > div > svg > path:hover {
    background-color: rgb(0, 0, 0);
}

.custom-dropdown-control.css-4xy4ym-control:hover svg.css-8mmkcg {
    color: rgb(59 142 238);
}